a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

body, p, h2, span {
    margin: 0;
}

 /* ヘッダー */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #ffc93c;
}

.header-logo {
    margin-left: 30px;
    color: #204495;
    font-size: 45px;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container {
    display: flex;
    margin-right: 30px;
}

.header-nav-icon img {
    width: 50;
    height: 50;
    border-radius: 50%;
    object-fit: cover;
}

.header-nav {
    position: relative;
}

.header-nav ul {
    position: absolute;
    top: 100%;
    display: none;
    list-style: none;
}

.header-nav ul.is-open {
    display: block;
}

.header-nav-user {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* ログイン前 */
.header-btn {
    display: flex;
    gap: 30px;
}

.header-btn a {
    color: #ffffff;
    border-radius: 8px;
}

.header-btn li {
    border-radius: 8px;
    padding: 12px 16px;
}

.header-btn li:first-of-type {
    background-color: #204495;
}

.header-btn li:last-of-type {
    background-color: #6495ed;
}

/* ヘッダードロップダウンリスト */
.dropdown-menu {
    background-color: #ffc93c;
    border-radius: 4px; 
    padding: 2px 10px;
    right: 1px;
}

.dropdown-menu li {
    padding: 2px;
}

.dropdown-menu li a {
    color: #204495;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
}

/* ログイン中 */
.header-nav-user p {
    color: #204495;
    font-weight: 700;
}

/* 新規登録・ログイン画面 */
body {
    background-color: #204495;
}

.card-design {
    background-color: #ffffff;
    margin: 60px auto;
    padding: 30px;
    width: 600px;
    position: relative;
}

.card-design-title {
    text-align: center;
    font-weight: 450;
    margin-bottom: 25px;
}

.users-field {
    display: flex;
    flex-direction: column;
}

.users-field label {
    font-size: 15px;
    font-weight: bold;
    color: #686868;
    margin-bottom: 7px;
}

.users-field input {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 12px;
}

.reg-error-message {
    font-weight: 400;
    font-size: 9px;
    color: rgb(248, 0, 0);
    margin-top: -10px;
    margin-bottom: 8px;
}

input::placeholder,
textarea::placeholder {
    color: #bdbdbd;
}

/* ボタン */
.btn-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.btn-sign-up,
.btn-sign-in {
    color: #ffffff;
    font-size: 16px;
    padding: 20px 0;
    border-radius: 8px;
    border: none;
    text-align: center;
}

.btn-sign-up {
    background-color: #204495;
}

.btn-sign-in {
    background-color: #6495ed;
}

/* アカウント */
.card-design-mypage {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 30px;
    width: 600px;
}

.btn-menu-mypage {
    display: flex;
    justify-content: space-between;
    width: 660px;
    margin: 40px auto 0;
}

.back-btn {
    color: #ffffff;
    background-color: #6495ed;
}

.edit-btn {
    color: #204495;
    background-color: #ffc93c;
}

.back-btn,
.edit-btn {
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 14px;
}

.account-content,
.profile-content {
    margin-bottom: 30px;
    margin-left: 60px;
}

.account-content-label,
.profile-content-label {
    color: #686868;
    font-size: 14px;
    margin-bottom: 10px;
}

/* アカウント編集画面 */
.card-design-mypage-edit {
    background-color: #ffffff;
    margin: 60px auto;
    padding: 30px;
    width: 600px;
    position: relative;
}

.mypage-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.mypage-field label {
    font-weight: bold;
    color: #686868;
    font-size: 16px;
    width: 180px;
}

.mypage-field input {
    width: 400px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 8px 10px;
}

.btn-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 30px;
    margin-right: 20px;
}

.cancel-btn {
    color: #204495;
    font-weight: bold;
    border: 1px solid #204495;
    border-radius: 6px;
    font-size: 16px;
    padding: 8px 14px;
}

.update-btn {
    color:#204495;
    background-color:#ffc93c;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
}

/* プロフィール */
.card-design-mypage img {
    border-radius: 50%;
}

.mypage-field textarea {
    width: 400px;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    padding: 14px 10px;
}

.image-content {
    margin-bottom: 30px;
}

.image-content img {
    border-radius: 50%;
}

.image-content label {
    color: #686868;
    background-color: #f8f8f8;
    font-size: 12px;
    font-weight: bold;
    margin-left: 95px;
    box-sizing: border-box;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    padding: 8px 16px;
}

/* マイページ */
.card-design-mypage-synthetic {
    background-color: #ffffff;
    margin: 60px auto;
    padding: 30px;
    width: 600px;
}

.card-design-mypage-synthetic h2 {
    margin-top: 10px;
    margin-bottom: 50px;
}

.mypage-synthetic-link li {
    border-bottom: 1px solid #d9d9d9;
    padding:15px 0;
    display: flex;
    justify-content: space-between;
}

.mypage-synthetic-link li a {
    color: #204495;
    margin: 0 20px;
}

/* フラッシュメッセージ */
.flash-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.flash-notice,
.flash-alert {
    background-color: #181818;
    color: #ffffff;
    padding: 16px 20px;
    border-radius: 6px;
    font-size: 12px;
}
